.body {
    margin: 0;
    padding: 0;

}

.main {
    width: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5)50%, rgba(0, 0, 0, 0.5)50%), url(tree.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;

}

.navbar {
    width: 700px;
    height: 75px;
    margin: auto;
}

.icon {
    width: 200px;
    float: left;
    height: 70px;
}

.logo {
    color: #ff7200;
    font-size: 35px;
    font-family: Arial;
    padding-left: 10px;
    float: left;
    padding-top: 0px;

}

.menu {
    width: 400px;
    float: left;
    height: 70px;

}


ul {
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;


}

ul li {
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 16px;

}

ul li a {
    text-decoration: solid;
    color: aliceblue;
    font-family: sans-serif;
    font-weight: bold;
    transition: 0.4s ease-in;

}

ul li a:hover {
    color: #ff7200;
}



.class {
    width: 1200px;
    height: auto;
    margin: auto;
    color: #fff;
    position: relative;
}

.class .par {
    padding-left: 50px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
}

.class h1 {
    font-family: 'Times New Roman';
    font-size: 27px;
    padding-left: 20px;
    margin-top: 9%;
    letter-spacing: 2px;
}

.class .cn {
    width: 160px;
    height: 40px;
    background: #ff7200;
    border: none;
    margin-bottom: 25px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0, 4s ease;
}

.class .cn a {
    text-decoration: none;
    color: #000;
    transition: 0.3s ease;
}

.cn:hover {
    background-color: #fff;

}

.class span {
    color: #ff7200;
    font-size: 27px;
}

.form {
    width: 250px;
    height: 400px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8)50%, rgba(0, 0, 0, 0.8)50%);
    position: absolute;
    top: -50px;
    left: 870px;
    border-radius: 10px;
    padding: 25px;

}

.form h2 {
    width: 220px;
    font-family: sans-serif;
    text-align: center;
    color: #ff7200;
    font-size: 22px;
    background-color: wheat;
    border-radius: 10px;
    margin: 2px;
    padding: 8px;


}